@using TTP.Models.Entities
@model List<Blog>
<div class="box1-left">
    @foreach (var item in Model)
    {
        <div class="bot-img">
            <img src="@item.BlogImage" alt="" style="width: 120px; height:65px;" />
        </div>
        <div class="bot-desc1">
            <p>@(item.Aciklama.Length > 100 ? item.Aciklama.Substring(0, 70) + "..." : item.Aciklama)</p>
        </div>
        <div class="clear"></div>
    }
</div>