@using TTP.Models.Entities
@model Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br />
<form method="post" class="form-group" enctype="multipart/form-data">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <label>Görsel Seç</label>
    @Html.TextBox("BlogImageFile", null, new { type = "file", @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Ekle</button>
</form>